* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  background: #f0f0f0;
  font-family: Lato;
}

.App-header {
  background: #d75648;
  color: var(--colors-white);
}

.App-navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 var(--spacing-l);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 100;
  background: #d75648;
}

.App-navBar > h1 {
  font-size: 20px;
  transition: opacity 0.2s;
  opacity: 0;
}

.App-heading {
  height: 70px;
  font-size: 40px;
  margin-top: 64px;
  line-height: 1.25;
  padding: 0 var(--spacing-l);
}

main {
  padding: var(--spacing-l);
  max-width: 800px;
}

footer {
  padding: var(--spacing-l);
  color: #666;
}

.card {
  background: var(--colors-white);
  border-radius: 6px;
  box-shadow: var(--shadows-elevation1);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: var(--spacing-s) var(--spacing-m);
  width: 50%;
}

dl.summary {
  background: #2d3d60;
  color: var(--colors-white);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: var(--spacing-m);
  column-gap: var(--spacing-m);
}

dt {
  grid-column: 1;
  font-weight: 700;
}

dd {
  grid-column: 2;
}

a {
  color: #d75648;
}

.about {
  line-height: 1.4;
}

.about p + p {
  margin-top: 16px;
}
