* {
  margin: 0;
  padding: 0;
  -webkt-font-smoothing: antialias;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font-size: 20px;
  font-family: system-ui, Helvetica, sans-serif;
  line-height: 1.6;
  background: #222;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.App {
  padding: 40px;
  max-width: 900px;
  background: white;
  flex: 1;
}

h1 {
  color: #444;
  letter-spacing: -1px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 48px;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  h1 {
    text-align: center;
  }
  h1 span {
    display: none;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

td,
th {
  text-align: left;
  padding: 5px 10px;
  border: 1px solid #eee;
}

tr {
}

input,
select {
  padding: 4px 8px;
  font-size: 24px;
  margin: 0 4px;
  border-radius: 3px;
  border: 1px solid #bbb;
  box-shadow: 0 0 4px #ccc;
}

select {
  font-size: 15px;
  width: 100%;
}

.summary {
  background-color: #fff8d3;
  padding: 15px;
}

form {
  margin-bottom: 15px;
  padding: 15px 0;
}

hr {
  margin: 15px 0;
  height: 2px;
  background: #ddd;
  border: 1px solid #ccc;
}

p {
  margin-bottom: 10px;
}

p + p {
  margin-bottom: 0;
}

.track {
  background: #dd6137;
  color: white;
  font-weight: 700;
}

.pace {
  background: #e2f7b2;
  font-weight: 700;
}

.badge {
  padding: 2px 4px;
  border-radius: 3px;
}

ul {
  list-style: none;
}
