* {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
}

body {
  background: #911d0a;
  font-family: 'Noto Sans TC', sans-serif;
}

.App-header {
  color: white;
}

.App-navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px;
  z-index: 100;
  background: #911d0a;
}

.App-navBar h1 {
  font-size: 20px;
  transition: opacity 0.2s;
  opacity: 0;
}

.App-heading {
  height: 70px;
  font-size: 40px;
  margin-top: 64px;
  line-height: 1.25;
  padding: 0;
}

.content-container {
  background: #f0f0f0;
}

.content-view {
  margin-left: 100px;
  padding: 0 var(--spacing-m);
  max-width: 960px;
}

@media (max-width: 960px) {
  .content-view {
    margin-left: 0;
  }
}

main {
  padding-top: 32px;
}

footer {
  padding: var(--spacing-xl) 0;
  color: #999;
}

.card {
  background: var(--colors-white);
  border-radius: 6px;
  box-shadow: var(--shadows-elevation1);
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 16px;
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

th,
td {
  padding: var(--spacing-s) var(--spacing-m);
  width: 50%;
}

dl.summary {
  background: white;
  color: #333;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: var(--spacing-m);
  column-gap: var(--spacing-m);
  font-size: 24px;
}

dt {
  grid-column: 1;
  font-weight: 300;
  text-align: left;
  padding-right: 20px;
}

dd {
  grid-column: 2/4;
  font-weight: 700;
  padding: 4px;
}

dd:last-of-type {
  background: rgb(247, 222, 125);
  border-radius: 4px;
}

a {
  color: #d75648;
}

.about {
  line-height: 1.5;
}

.about p + p {
  margin-top: 16px;
}

h2 {
  font-weight: 400;
  font-size: 20px;
}

h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 400;
  color: #999;
  padding-top: 10px;
}

section {
  opacity: 1;
  transition: opacity 0.3s;
}

section.blurred {
  opacity: 0.5;
  filter: blur(6px);
}
